---
layout: default
style: home
---

{% include sidenav.html %}

<div class="app" id="home">
    <div class="container">
        {% include navbar.html %}
        <div class="app-content">
            <div class="left-column">
                <h1>Questões de vestibulares de forma simples e gratuita.</h1>
                <p>Acesse questões de vestibulares reunidas em um único lugar para você estudar!</p>
                <div class="button-row">
                    <a href="{{ site.url }}/materias.html" class="waves-effect waves-dark btn btn-large z-depth-0 btn-start">
                        <i class="material-icons left">library_books</i>
                        Começar
                    </a>
                    <a href="{{ site.url }}/conheca.html" class="waves-effect waves-dark btn btn-large z-depth-0 btn-know">
                        <i class="material-icons left">live_tv</i>
                        Conheça
                    </a>
                </div>
            </div>
            <div class="right-column">
            </div>
        </div>
    </div>
</div>
