<footer class="page-footer">
    <div class="container">
        <div class="row">
            <div class="col l6 s12">
                <h5 class="white-text">Questionando</h5>
                <p class="grey-text text-lighten-4">Questões de vestibulares de forma simples e gratuíta.</p>
            </div>
            <div class="col l4 offset-l2 s12">
                <h5 class="white-text">Links</h5>
                <ul>
                    <li><a class="grey-text text-lighten-3" href="{{ site.url }}">Início</a></li>
                    <li><a class="grey-text text-lighten-3" href="{{ site.url }}/conheca.html">Conheça</a></li>
                    <li><a class="grey-text text-lighten-3" href="{{ site.url }}/contato.html">Contato</a></li>
                    <li><a class="grey-text text-lighten-3" href="{{ site.url }}/materias.html">Matérias</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            <span>Questionando © 2020 - Layout e implementação por <a class="grey-text text-lighten-4" href="https://eduardojm.github.io/" target="_blank">Eduardo Oliveira</a></span>
        </div>
    </div>
</footer>