<nav class="transparent z-depth-0">
    <div class="nav-wrapper">
        <a href="{{ site.url }}/index.html" class="brand-logo">
            <img src="{{ site.url }}/assets/images/logo-white.svg" />
        </a>
        <a href="#" data-target="mobile-menu" class="sidenav-trigger"><i class="material-icons">menu</i></a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a href="{{ site.url }}/conheca.html">Conheça</a></li>
            <li><a href="{{ site.url }}/contato.html">Contato</a></li>
        </ul>
    </div>
</nav>