:root {
    --color-background: #8257e5;
    --text-color: #FFF;
    --text-color-gray: #E1E1E6;
    --primary-color: #9871f5;
    --secondary-color: #04d361;
    --content-container-background: #FFF;
    --content-container-text-color: #222;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.app {
    min-height: 100vh;
}

.brand-logo img {
    height: 64px;
}
