.app#subjects {
    background: var(--color-background);
    color: var(--text-color);

    display: flex;
    flex-direction: column;
    align-items: center;
}

.app#subjects .content-container {
    flex: 1;

    border-radius: 20px;
    padding: 20px;
    
    background: var(--content-container-background);
    color: var(--content-container-text-color);
}

.subjects-list {
    display: grid;

    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}

.subjects-list .card,
.subjects-list .card .card-image,
.subjects-list .card .card-image img {
    border-radius: 20px;
}

.subjects-list .card .card-image span.card-title {
    border-radius: 0 0 20px 20px;
    text-align: center;
    width: 100%;
    padding: 12px 24px;
}

.subjects-list .card .card-image span.card-title a {
    color: #FFF;
}

/* cards */
.subjects-list .card.math {
    background: #c3e9f4;
}
.subjects-list .card.math .card-image span.card-title{
    background: rgba(50, 104, 192, 0.7);
}
.subjects-list .card.physics {
    background: #1b5271;
}
.subjects-list .card.physics .card-image span.card-title{
    background: rgba(0, 0, 0, 0.7);
}
.subjects-list .card.bio {
    background: #4e3744;
}
.subjects-list .card.bio .card-image span.card-title{
    background: rgba(0, 0, 0, 0.7);
}


.message-ok-check {
    font-size: 100px;
    margin-top: 50px;
}
.btn.primary {
    background: var(--color-background);
}

form input[type=text]:not(.browser-default):focus:not([readonly]),
form input[type=email]:not(.browser-default):focus:not([readonly]),
form textarea:not(.browser-default):focus:not([readonly]) {
    border-color: var(--color-background);
    -webkit-box-shadow: 0 1px 0 0 var(--color-background);
    box-shadow: 0 1px 0 0 var(--color-background);
}

form input[type=text]:not(.browser-default):focus:not([readonly]) + label,
form input[type=email]:not(.browser-default):focus:not([readonly]) + label,
form textarea:not(.browser-default):focus:not([readonly]) + label {
    color: var(--color-background);
}

footer.page-footer {
    background: var(--color-background);
}

@media (max-width: 800px) {
    .subjects-list {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 600px) {
    .subjects-list {
        grid-template-columns: repeat(1, 1fr);
    }
}