<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% if page.title %}{{ page.title }} | {% endif %}Questionando - O seu banco de questões gratuíto</title>
    <!-- Google Icon Font -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
    <!-- Materialize -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css" />
    <!-- Layout Styles -->
    <link rel="stylesheet" href="{{ site.url }}/assets/styles/layout.css" />
    {% if page.style %}
    <link rel="stylesheet" href="{{ site.url }}/assets/styles/{{ page.style }}.css" />
    {% endif %}
</head>
<body>

    {{ content }}

    <!-- Materialize -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="{{ site.url }}/assets/scripts/sidenav.js"></script>
</body>
</html>